#header{
  padding: 60px;
  text-align: center;
  background: #e6035d;
  color: rgb(8, 116, 128);
  font-family: Yellowtail;
  font-size: 35px;
}

h1{
  color: rgb(0, 0, 0);
  font-family: Barlow;
  font-size: 100px;
  letter-spacing: 0.3em;
}

#title:hover{
  letter-spacing: 1em;
  font-weight: 800;
  color: #43008aa5;
}

.titleBorder{
  height: 200px;
  background-color: black;
  color: black;
}

.titleBorder:hover{
  background-color: #e6035d;
  color: rgb(0, 0, 0);
  text-indent: 11em;
  font-family: Yellowtail;
}

.subtitle{
  padding-top: 50px;
  font-size: 50px;
  margin: 25px;
}

.content-paragraph{
  margin: auto;
  color: rgb(0, 0, 0);
  font-size: 20px;
  line-height: 26px;
  max-width: 570px;
  font-family: Yellowtail;
}

.content-paragraph::first-line{
  font-size: 30px;
  font-family: Barlow;S
  line-height: 40px;
}
/*
.poem-link{
  text-decoration: none;
  color: #0ba516a5;
}
.poem-link:hover{
  text-decoration: underline;
  font-weight: 700;
}

.poem-link:visited{
  color: #8a60ff;
}
*/S
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-left: 150px;
}

img {
  border: 10px solid #43008aa5;
  max-width: 500px;
  height: auto;
  border-radius: 8px;
}

#img-link:hover{
  border: 50px solid #43008aa5;
}


/* Menu */
header {
  position: fixed;
  top: 0px;
  background-color: black; 
  margin-top: 0;
  height: 4em;
  width: 99%;
  text-align: right;
  font-family:Barlow;
  padding-right: 3em;
}


/* Set the layout of the menu: */
.menu-item {
  display: inline-block;
  margin: 1em .2em;
  min-width: 6em;
  text-align: center;
  background-color: rgb(0, 0, 0);
  padding: 0.5em 1em;
  border-radius: 1em;
}

.site-logo {

  margin: 1em .2em;
  padding: 0.5em 1em;
  float: left;

}

/* Style the links: */
.menu-item a {
  color: white;
  text-decoration: none;
}

.menu-item:hover {
  background-color: #0ba516a5;
  color: rgb(0, 0, 0);
}

/* Add a dropdown feature: */
.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin: 0.5em 0 0 -1em;
  color: #000;
  background-color: #fff;
  z-index: 1;
  border-radius: 0em 0em 1em 1em;
}
.dropdown-content a {
  color: #000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Style dropdown item display: */
.dropdown-item {
  display: block;
  text-align: left;
  margin: 0;
  padding: 0.5em 1em 0.5em 1em;
  min-width: 5.9em;
}

.dropdown-item:hover, .dropdown-item:hover a {
  color: white;
  background-color: #43008aa5;
}


.dropdown:hover{
  border-radius: 1em 1em 0em 0em;
}

#foundation:hover{
  border-radius: 0em 0em 1em 1em;
}




/* footer */
footer {
  width: 100%;
  background-color: #43008aa5;
  height: 3em;
  text-align: center;
  font-family: Yellowtail;
  padding-top: 1em;
}

#footer-link {
  color: rgb(0, 0, 0);
  font-weight: bold;
}
body{
 
    text-align: center;
    font-family: "Barlow, Yellowtail";
  }
  
   
li {
  font-size: medium;
  text-align: left;
}
div {
  background-color: white;
  width: 50%;
  margin: auto;
  padding: 1em;
  border: 1px solid black;