
body {
  background-color: #c307fc;
background-image: linear-gradient(315deg, #1900ff 0%, #93f5f5 64%);
text-align: center;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
div{ 
  background-color: white;
  width: 600px;
  margin: auto;
  padding: 30px;
  border: 1px solid black;

}
nav {
    background-color: rgb(130, 100, 237);
    color: white;
    padding: 1%;
    text-align: right;
    border: 5px white solid;
    height: auto;
  }
  
  a {
    color: white;
    font-size: 25px;
  }
  img {
    border-radius: 8px;
    width: 75%;
  }
  div.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  div.container {
    text-align: center;
    padding: 10px 20px;
  }

li {
  font-size: medium;
  text-align: left;
}
